.App {
  text-align: center;
}

.alimentos{
  display: flex;
  justify-content: space-around;
  padding-top: 30px;

}

.alimento-card{
  /* border: 1px solid black; */
  padding: 20px
}

.options{
  display: flex;
  flex-direction: column;
}